.space {
  background: #fafaf8;
  text-align: center;
}
.space .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform-origin: center;
  height: 125px;
  width: 80px;
}
.space .name,
.space .instructions {
  padding-left: 15px;
  padding-right: 15px;
}
.space .price {
  font-size: 7px;
  font-weight: 400;
  padding-bottom: 5px;
}

.property .color-bar {
  height: 25px;
  border-bottom: 2px solid #080808;
}
.property .name {
  /*padding-bottom: 50px;*/
}

.railroad .name {
  padding-top: 10px;
}
.railroad .drawing {
  font-size: 60px;
  color: #080808;
}

.utility .name {
  padding-top: 10px;
}
.utility .drawing {
  font-size: 70px;
}

.fee .name {
  padding-top: 10px;
  font-size: 14px;
}
.fee .instructions {
  font-size: 10px;
}

.chance .container {
  justify-content: center;
}
.chance .drawing {
  font-size: 90px;
  color: #f50c2b;
}
.chance .blue {
  color: #5a6dba;
}

.community-chest .container {
  justify-content: space-around;
}
.community-chest .drawing {
  font-size: 50px;
  color: #d2eaf5;
}
.community-chest .instructions {
  font-size: 8px;
}

.electric-company .drawing {
  color: #ffed20;
}

.waterworks .drawing {
  color: #5a6dba;
}

.income-tax .container {
  justify-content: center;
  align-items: center;
}
.income-tax .name {
  padding-bottom: 5px;
}
.income-tax .diamond {
  width: 5px;
  height: 5px;
  background: #080808;
  transform: rotate(45deg);
  display: inline-block;
}
.income-tax .instructions {
  padding-top: 5px;
  padding-bottom: 5px;
}

.luxury-tax .drawing {
  font-size: 50px;
}
.luxury-tax .instructions {
  padding-bottom: 5px;
}

.dark-purple {
  background: #5e3577;
}

.light-blue {
  background: #d2eaf5;
}

.purple {
  background: #b02f7c;
}

.orange {
  background: #fa811d;
}

.red {
  background: #f50c2b;
}

.yellow {
  background: #ffed20;
}

.green {
  background: #41994e;
}

.dark-blue {
  background: #5a6dba;
}
